<!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
		<title>Loguearse</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        {% include "base/head_css.html" %}
		{% include "base/javascript.html" %}
	</head>

	<body id="log" style="background: url({% static 'img/loginbg.jpg' %});background-size: 100%;">
	<center>
	
		<section class="mb-5">
			<div class="mt-5 align-middle card"style="width:400px; box-shadow: 0px 0px 9px white;">
	 			<div class="card-header">
	 				<h4 class="card-title">Login</h4>
	 			</div>

	 			<div class="card-body">
	 				<form method="post">{% csrf_token %}
	 					
	 					<div class="form-group">
	 						<label for="rol">Rol:</label>
	 						<select class="form-control" id="rol">
	 							<option>Cliente</option>
	 							<option>Tienda</option>
	 						</select>
	 					</div>

	 					<div class="form-group">
	 						<label for="username">Nombre de Usuario</label>
	  						<input class="form-control" type="text" name="username">
	 					</div>

	 					<div class="form-group">
	 						<label for="username">Contraseña</label>
							<input class="form-control" type="password" name="password">
						</div>
a
	 					<div class="form-group">
	 						<a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a>
	 					</div>

	 					<div class="form-group">
	 						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#role"><a href="{% url 'cliente:registro' %}">¿Aun no estás registrado?</button></a>
	 					</div>

	 					<a>
	 						<button class="btn btn-success" type="submit" value="">Loguearse</button>
	 					</a>

	 				</form>
		 		</div>
		 	</div>
		</section>

		<!--Modal para escoger un rol-->
		<!--
		<div class="modal fade" id="role">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title mx-auto">Seleccione un rol</h4>
					</div>

					<div class="modal-footer">
						<a href="signin-cliente.html" class="btn btn-primary mx-auto">Cliente</a>
						<a href="signin-tienda.html" class="btn btn-primary mx-auto">Tienda</a>
					</div>

				</div>
			</div>
		</div>
		-->
	</center>
	</body>
</html>