<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find&Buy | Registro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% include "base/head_css.html" %}

  </head>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 ftco-animate">
              <form action="#" class="billing-form" method="post">{% csrf_token %}
                  <h3 class="mb-4 billing-heading">Registro FindBuy</h3>
	          	<div class="row align-items-end">
	          		{% for field in form %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{field.label}}</label>
                                {{field}}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="w-100"></div>
                </div>
                <div class="w-100"></div>
                <button class="btn-success" type="submit" href="{% url 'login' %}">
                    Registrarme
                </button>
                  <div class="col-md-12">

                </div>
	            </div>
	          </form><!-- END -->







  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
        {% include "base/javascript.html" %}


  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){

		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());

		        // If is not undefined

		            $('#quantity').val(quantity + 1);


		            // Increment

		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());

		        // If is not undefined

		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });

		});
	</script>

  </body>
</html>