{% extends "base/base.html" %}
{% block content %}
{% load static %}

		<section>
			<h1>Destacados</h1>
					<div class="row">
						<div class="col">
							{% if object_list %}
								{% for object in object_list %}
									<button type="button" data-toggle="modal" data-target="#img4" class="btn btn-dark m-5">
										<h5>Tienda {{object.tienda}}</h5>
										<a href="{% url 'productos:producto_detalle' object.id_producto %}"><img src="{{ object.foto.url}}" width="250px" height="250px" class="rounded"></a>
									</button>
								{% endfor %}
							{% endif %}
						</div>
					</div>


			<!--Modal de Reserva-->
			<div class="modal fade" id="reserva">
				<div class="modal-dialog modal-dialog centered">
					<div class="modal-content">

						<div class="modal-body">

							<form class="form-group">
								<label>Fecha de entrega</label>
								<input type="date" name="bday" class="form-control">
							</form>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-success mx-auto" data-dismiss="modal" data-toggle="modal" data-target="#alert-r">Reservar</button>
						</div>

					</div>
				</div>
			</div>

			<!--Modal de Compra-->
			<div class="modal fade" id="comprar">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">

						<div class="modal-body">

							<form>

								<div class="form-group">
									<label>Dirección</label>
									<div class="border border-dark">Su dirección</div>
								</div>

								<div class="form-group">
									<label>Contacto</label>
									<div class="border border-dark">XXXXXXXXXX</div>
								</div>

								<div class="form-group">
									<label>Fecha de entrega</label>
									<input type="date" name="entrega"></input>
								</div>

								<div class="form-group">
									<label>Forma de pago</label>
									<select id="pago">
										<option>Efectivo</option>
										<option>Tarjeta</option>
										<option>Giro</option>
									</select>
								</div>

							</form>

						</div>

						<div class="modal-footer">

							<div class="form-inline mx-auto">
								<button type="submit" class="btn btn-success mr-3" data-dismiss="modal" data-toggle="modal" data-target="#alert-c">Comprar</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							</div>

						</div>

					</div>

				</div>
			</div>

		</section>

		<hr>

		<!--Modal para escoger un rol-->
		<div class="modal fade" id="rol">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title mx-auto">Seleccione un rol</h4>
					</div>

					<div class="modal-footer">
						<a href="pages/signin-cliente.html" class="btn btn-primary mx-auto">Cliente</a>
						<a href="pages/signin-tienda.html" class="btn btn-primary mx-auto">Tienda</a>
					</div>

				</div>
			</div>
		</div>

		<!--Modal de las categorias-->
		<div class="modal fade" id="categoria">
		 	<div class="modal-dialog modal-dialog-centered modal-lg">
		 		<div class="modal-content">

		 		    <div class="modal-header">
		 		    	<h4 class="modal-title mx-auto">Categorias</h4>
		 		    </div>

		 		    <div class="modal-body text-left">
		 		    	<div class="row">
		 		    		<div class="col">
		 		    			<h5>Superior</h5>
		 		    			<ul>
		 		    				<li>
		 		    					<a href="pages/categorias/camisas.html">Camisas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/camisetas.html">Camisetas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/polos.html">Polos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/chaquetas.html">Chaquetas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/sacos.html">Sacos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/esqueletos.html">Esqueletos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/blusas.html">Blusas</a>
		 		    				</li>
		 		    			</ul>
		 		    		</div>

		 		    		<div class="col">
		 		    			<h5>Inferior</h5>
		 		    			<ul>
		 		    				<li>
		 		    					<a href="pages/categorias/jeans.html">Jeans</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/pantalones.html">Pantalones</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/pantalonetas.html">Pantalonetas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/faldas.html">Faldas</a>
		 		    				</li>

		 		    				<li>
		 			   					<a href="pages/categorias/leguis.html">Leguis</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/sudaderas.html">Sudaderas</a>
		 			   				</li>
		 			   			</ul>
		 			   		</div>

		 			   		<div class="col">
		 			   			<h5>Calzado</h5>
		 			   			<ul>
		 			   				<li>
		 			   					<a href="pages/categorias/tenis.html">Tenis</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/zapatillas.html">Zapatillas</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/sandalias.html">Sandalias</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/botas.html">Botas</a>
		 			   				</li>
		 			   			</ul>
		 			   		</div>

		 			   		<div class="col">
		 			   			<h5>Accesorios</h5>
		 			   			<ul>
		 			  				<li>
		 			   					<a href="pages/categorias/gorros.html">Gorros & Sombreros</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/joyeria.html">Joyeria</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/relojes.html">Relojes</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/otros.html">Otros</a>
		 			   				</li>
		 			   			</ul>
		 			   		</div>

		 			   		<div class="col">
		 			   			<h5>Interior</h5>
		 			   			<ul>
		 			   				<li>
		 			   					<a href="pages/categorias/hombre.html">Hombre</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/mujer.html">Mujer</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/niños.html">Niños</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/lenceria.html">Lenceria</a>
		 			   				</li>
		 			   			</ul>
		 			   		</div>

		 					<div class="col">
		 						<h5>Conjuntos</h5>
		 		    			<ul>
		 			   				<li>
		 		    					<a href="pages/categorias/conjuntos.html">Conjuntos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/disfraces.html">Disfraces</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/vestidos.html">Vestidos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/trajes.html">Trajes</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/pijamas.html">Pijamas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/deportes.html">Indumentaria deportiva</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/swimsuit.html">Trajes de baño</a>
		 		    				</li>
		 		    			</ul>
		 		    		</div>
		 		    	</div>
		 		    </div>

		 		    <div class="modal-footer">
		 		    	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		 		    </div>

		 		</div>
		 	</div>
		</div>

		<!--Modal alerta reserva-->
		<div class="modal fade" id="alert-r">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-body">
						<div class="alert alert-success text-center">
							Su reserva se ha realizado con exito
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--Modal alerta compra-->
		<div class="modal fade" id="alert-c">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-body">
						<div class="alert alert-success text-center">
							Su compra se ha realizado con exito
						</div>
					</div>

				</div>
			</div>
		</div>

	</center>
	</body>
{% endblock content %}