<!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
		<title>Inicio</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "base/head_css.html" %}



	</head>
	<body>
	<center>
	<!--Barra de navegador-->
		<div class="navbar navbar-expand-sm bg-dark ">

			<div class="dropdown mr-5">
				<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">Menu</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'productos:inicio' %}">Inicio</a>
					<a class="dropdown-item" href="{% url 'productos:producto_ofertas' %}">Ofertas</a>
					<a class="dropdown-item" href="pages/categorias.html">Categorias</a>
					<a class="dropdown-item" href="{% url 'productos:pormenosde40' %}">Por menos de 40.000</a>
					<a class="dropdown-item" href="{% url 'productos:informacion' %}">Información</a>
				</div>
			</div>

			<!--Loguearse y Registrarse-->
			<!--
			<form class="form-inline ml-5" id="boton">
				<a href="{% url 'login' %}" class="btn btn-info mr-xl-2">Login</a>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#rol">Sign In</button>
			</form>
			-->

			<!--Logo-->
			<img src="{% static 'img/logo.png' %}" width="100" height="50" class="mx-auto">
			<a href="{% url 'productos:inicio' %}">
			<!--Buscador
			<form class="form-inline ml-auto" action="/action_page.php">
				<input type="text" class="form-control mr-xl-2" placeholder="Buscar">
				<button class="btn btn-success" type="submit">Buscar</button>
			</form>
			-->

 		</div>
		<header id="demo" class="carousel slide" data-ride="carousel">

				<div class="carousel-inner">

					<div class="carousel-item active">
						<a href="{% url 'productos:producto_ofertas' %}">
							<img src="{% static 'img/slider6.jpg'%}" width="100%" height="500px">
						</a>
						<div class="carousel-caption text-body">
							<h4>Un click para ir a las ofertas</h4>
						</div>
					</div>

					<div class="carousel-item">
						<a href="{% url 'productos:producto_ofertas' %}">
							<img src="{% static 'img/slider5.jpg'%}" width="100%" height="500px">
						</a>
						<div class="carousel-caption text-body">
							<h4>Un click para ir a las ofertas</h4>
						</div>
					</div>

					<div class="carousel-item">
						<a href="{% url 'productos:producto_ofertas' %}">
							<img src="{% static 'img/slider4.jpg'%}" width="100%" height="500px">
						</a>
						<div class="carousel-caption">
							<h4>Un click para ir a las ofertas</h4>
						</div>
					</div>

					<div class="carousel-item">
						<a href="{% url 'productos:producto_ofertas' %}">
							<img src="{% static 'img/slider1.jpg'%}" width="100%" height="500px">
						</a>
						<div class="carousel-caption text-body">
							<h4>Un click para ir a las ofertas</h4>
						</div>
					</div>

					<div class="carousel-item">
						<a href="{% url 'productos:producto_ofertas' %}">
							<img src="{% static 'img/slider2.png'%}" width="100%" height="500px">
						</a>
						<div class="carousel-caption">
							<h4>Un click para ir a las ofertas</h4>
						</div>
					</div>

					<div class="carousel-item">
						<a href="{% url 'productos:producto_ofertas' %}">
							<img src="{% static 'img/slider3.gif'%}" width="100%" height="500px">
						</a>
						<div class="carousel-caption text-body">
							<h4>Un click para ir a las ofertas</h4>
						</div>
					</div>

					<!--Next/Previous Buttons-->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon" style="height: 150px; background-color: gray;"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon" style="height: 150px; background-color: gray;"></span>
					</a>

				</div>
		</header>

		<nav class="navbar navbar-expand-sm bg-dark mb-5">
			<form class="form-inline mx-auto">
				{% csrf_token %}
				<a href="{% url 'productos:inicio' %}" class="btn btn-outline-light btn-lg mr-5">Inicio</a>
				<a href="{% url 'productos:producto_ofertas' %}" class="btn btn-outline-light btn-lg ml-5 mr-5">Ofertas</a>
				<div class="dropdown mr-5">
				<button type="button" class="btn btn-outline-light btn-lg ml-5 mr-5" data-toggle="modal" data-target="#categoria">Categorias</button>
				<a href="{% url 'productos:pormenosde40' %}" class="btn btn-outline-light btn-lg ml-5 mr-5">Por menos de 40.000</a>
				<a href="{% url 'productos:informacion' %}" class="btn btn-outline-light btn-lg ml-5">Información</a>
			</form>
		</nav>

		<div class="modal fade" id="categoria">
		 	<div class="modal-dialog modal-dialog-centered modal-lg">
		 		<div class="modal-content">

		 		    <div class="modal-header">
		 		    	<h4 class="modal-title mx-auto">Categorias</h4>
		 		    </div>

					<form>
						<div class="modal-body text-left">
							<div class="row">
								<div class="col">
									{% for categoria in listaCategorias %}
										<ul>
											<li>
												<a href="{% url 'productos:categoria' categoria.id_categoria %}" >{{categoria.nombre}}</a>
											</li>
										</ul>
									{% endfor %}
								</div>
							</div>
						</div>
					</form>

					<div class="modal-footer">
		 		    	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		 		    </div>

		 		</div>
		 	</div>
		</div>

		<section>
			<h1>Destacados</h1>
				<div class="row">
					<div class="col">
						{% for producto in listaProductos %}
							<button type="button" data-toggle="modal" data-target="#img4" class="btn btn-dark m-5">
								<h5>{{producto.nombre}}</h5>
								<a href="{% url 'productos:producto_detalle' producto.id_producto %}"><img src="{{ producto.foto.url}}" width="250px" height="250px" class="rounded"></a>
							</button>
						{% endfor %}
					</div>
				</div>


			<!--Modal de Reserva-->
			<div class="modal fade" id="reserva">
				<div class="modal-dialog modal-dialog centered">
					<div class="modal-content">

						<div class="modal-body">

							<!--
							<form class="form-group">
								<label>Fecha de entrega</label>
								<input type="date" name="bday" class="form-control">
							</form>
							-->

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-success mx-auto" data-dismiss="modal" data-toggle="modal" data-target="#alert-r">Reservar</button>
						</div>

					</div>
				</div>
			</div>

			<!--Modal de Compra-->
			<div class="modal fade" id="comprar">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">

						<div class="modal-body">
							<!--
							<form>

								<div class="form-group">
									<label>Dirección</label>
									<div class="border border-dark">Su dirección</div>
								</div>

								<div class="form-group">
									<label>Contacto</label>
									<div class="border border-dark">XXXXXXXXXX</div>
								</div>

								<div class="form-group">
									<label>Fecha de entrega</label>
									<input type="date" name="entrega"></input>
								</div>

								<div class="form-group">
									<label>Forma de pago</label>
									<select id="pago">
										<option>Efectivo</option>
										<option>Tarjeta</option>
										<option>Giro</option>
									</select>
								</div>

							</form>
							-->
						</div>

						<div class="modal-footer">

							<div class="form-inline mx-auto">
								<button type="submit" class="btn btn-success mr-3" data-dismiss="modal" data-toggle="modal" data-target="#alert-c">Comprar</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							</div>

						</div>

					</div>

				</div>
			</div>

		</section>

		<hr>

		<!--Modal para escoger un rol-->
		<div class="modal fade" id="rol">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title mx-auto">Seleccione un rol</h4>
					</div>

					<div class="modal-footer">
						<a href="pages/signin-cliente.html" class="btn btn-primary mx-auto">Cliente</a>
						<a href="pages/signin-tienda.html" class="btn btn-primary mx-auto">Tienda</a>
					</div>

				</div>
			</div>
		</div>

		<!--Modal de las categorias-->
		<div class="modal fade" id="categoria">
		 	<div class="modal-dialog modal-dialog-centered modal-lg">
		 		<div class="modal-content">

		 		    <div class="modal-header">
		 		    	<h4 class="modal-title mx-auto">Categorias</h4>
		 		    </div>

		 		    <div class="modal-body text-left">
		 		    	<div class="row">
		 		    		<div class="col">
		 		    			<h5>Superior</h5>
		 		    			<ul>
		 		    				<li>
		 		    					<a href="pages/categorias/camisas.html">Camisas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/camisetas.html">Camisetas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/polos.html">Polos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/chaquetas.html">Chaquetas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/sacos.html">Sacos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/esqueletos.html">Esqueletos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/blusas.html">Blusas</a>
		 		    				</li>
		 		    			</ul>
		 		    		</div>

		 		    		<div class="col">
		 		    			<h5>Inferior</h5>
		 		    			<ul>
		 		    				<li>
		 		    					<a href="pages/categorias/jeans.html">Jeans</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/pantalones.html">Pantalones</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/pantalonetas.html">Pantalonetas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/faldas.html">Faldas</a>
		 		    				</li>

		 		    				<li>
		 			   					<a href="pages/categorias/leguis.html">Leguis</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/sudaderas.html">Sudaderas</a>
		 			   				</li>
		 			   			</ul>
		 			   		</div>

		 			   		<div class="col">
		 			   			<h5>Calzado</h5>
		 			   			<ul>
		 			   				<li>
		 			   					<a href="pages/categorias/tenis.html">Tenis</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/zapatillas.html">Zapatillas</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/sandalias.html">Sandalias</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/botas.html">Botas</a>
		 			   				</li>
		 			   			</ul>
		 			   		</div>

		 			   		<div class="col">
		 			   			<h5>Accesorios</h5>
		 			   			<ul>
		 			  				<li>
		 			   					<a href="pages/categorias/gorros.html">Gorros & Sombreros</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/joyeria.html">Joyeria</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/relojes.html">Relojes</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/otros.html">Otros</a>
		 			   				</li>
		 			   			</ul>
		 			   		</div>

		 			   		<div class="col">
		 			   			<h5>Interior</h5>
		 			   			<ul>
		 			   				<li>
		 			   					<a href="pages/categorias/hombre.html">Hombre</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/mujer.html">Mujer</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/niños.html">Niños</a>
		 			   				</li>

		 			   				<li>
		 			   					<a href="pages/categorias/lenceria.html">Lenceria</a>
		 			   				</li>
		 			   			</ul>
		 			   		</div>

		 					<div class="col">
		 						<h5>Conjuntos</h5>
		 		    			<ul>
		 			   				<li>
		 		    					<a href="pages/categorias/conjuntos.html">Conjuntos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/disfraces.html">Disfraces</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/vestidos.html">Vestidos</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/trajes.html">Trajes</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/pijamas.html">Pijamas</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/deportes.html">Indumentaria deportiva</a>
		 		    				</li>

		 		    				<li>
		 		    					<a href="pages/categorias/swimsuit.html">Trajes de baño</a>
		 		    				</li>
		 		    			</ul>
		 		    		</div>
		 		    	</div>
		 		    </div>

		 		    <div class="modal-footer">
		 		    	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		 		    </div>

		 		</div>
		 	</div>
		</div>

		<!--Modal alerta reserva-->
		<div class="modal fade" id="alert-r">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-body">
						<div class="alert alert-success text-center">
							Su reserva se ha realizado con exito
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--Modal alerta compra-->
		<div class="modal fade" id="alert-c">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-body">
						<div class="alert alert-success text-center">
							Su compra se ha realizado con exito
						</div>
					</div>

				</div>
			</div>
		</div>

	</center>
	</body>
	<br>
		<footer class="ftco-footer ftco-section">
      	<div class="container">

        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Find&Buy</h2>
              <p>Es una plataforma que nos permite comprar lo que mas nos gusta cuando quieras y como quieras</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="row mb-5">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Como Comprar</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'cliente:comocomprar' %}" class="py-2 d-block">Como Comprar</a></li>
                <li><a href="{% url 'cliente:garantia' %}" class="py-2 d-block">Garantia al Cliente</a></li>
                <li><a href="{% url 'productos:producto_ofertas' %}" class="py-2 d-block">Ofertas</a></li>
			  </ul>
            </div>
		  </div>

		  <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Como Vender</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'cliente:comovender' %}" class="py-2 d-block">Como Vender</a></li>
                <li><a href="{% url 'cliente:centrovendoderes' %}" class="py-2 d-block">Centro Para Vendedores</a></li>
			  </ul>
            </div>
		  </div>

		  <div class="col-md-2">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Ayuda</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'cliente:seguridad' %}" class="py-2 d-block">Seguridad</a></li>
                <li><a href="{% url 'cliente:preguntas' %}" class="py-2 d-block">Preguntas Frecuentes</a></li>
			  </ul>
            </div>
		  </div>

		  <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Tienes alguna Pregunta?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Santa Isabel Dg. 27a #4-2 a 4-114, Dosquebradas, Risaralda, COLOMBIA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+57 3136907549</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@findbuy.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>


		</div>
        <div class="row">
          <div class="col-md-12 text-center">
			  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			  </p>
          </div>
        </div>
      </div>
    </footer>
    {% include "base/javascript.html" %}
</html>
