{% extends "base/base.html" %}
{% block content %}
{% load static %}

		{% include "base/head_css.html" %}

		<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about.jpg' %});">
						<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Nuestra Misión</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
						  <p>En general, el motivo por el cual somos fieles a una marca es su conjunto de valores. Las mejores marcas se esfuerzan mucho por combinar elementos físicos, emocionales y lógicos en una experiencia excepcional tanto para los clientes como a los usuarios.</p>

						  <p>Crearemos una conexión con los clientes y usuarios, son muchos los que podrían permanecer fieles a una marca de por vida. De esta manera, se tendrá la oportunidad de aumentar la rentabilidad general, al mismo tiempo que se construye una base sólida de promotores a una marca. Sin embargo, llegar hasta ahí no resulta nada fácil. Las empresas de mayor éxito son las que e mantienen fieles a un vinculo a lo largo de los años y crean una empresa de la cual usuarios y clientes se sienten orgullosos.</p>

						</div>
					</div>
				</div>
			</div>
		</section>

		<br>


		<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about2.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Nuestra Vision</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
						  <p>VisiónSer una platarforma lider en la ayuda de comercialización y distribución de prendas para vestir que pueden legar a cualquier usuario y lugar que haya reservado o comprado en las tiendas de nuestra plataforma para que puedan obtener diferentes modas en un solo lugar.</p

						</div>
					</div>
				</div>
			</div>
		</section>

		<br>


		<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about3.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Obejetivos</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Convertirnos en una de las plataformas líderes en el mercado de ropa online. Superar a la competencia en visibilidad dentro del mercado online del ramo nacional e internacional Imponer una tendencia de consumo novedosa, rentable y respetuosa del medio ambiente. Establecerse en el mercado internacional y abrir sucursales en las principales ciudades del mundo. Ofrecer alternativas de consumo en medio del abrumador mercado de la ropa.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include "base/javascript.html" %}
{% endblock content %}