{% extends "base/base.html" %}
{% block content %}
{% load static %}

 		<h1 class="mb-3">Información</h1>

 		<hr>

 		<section>

 			<h2 class="mt-5 mb-5">Acerca de Find&Buy</h2>

 			<div class="form-inline border border-bottom-0 border-right-0 border-left-0">
                <article class="border border-top-0 border-bottom-0 border-right-0">
 					
 					<ul class="list-group list-group-flush ">
	 					<li class="list-group-item">
	 						<h2 class="mb-3 mt-5">Misión</h2>
 							<h4>Mejorar la gestión de compras online</h4>
	 						<p class="text-left">En general, el motivo por el cual somos fieles a una marca es su conjunto de valores. Las mejores marcas se esfuerzan mucho por combinar elementos físicos, emocionales y lógicos en una experiencia excepcional tanto para los clientes como a los usuarios.<br><br>Crearemos una conexión con los clientes y usuarios, son muchos los que podrían permanecer fieles a una marca de por vida. De esta manera, se tendrá la oportunidad de aumentar la rentabilidad general, al mismo tiempo que se construye una base sólida de promotores a una marca. Sin embargo, llegar hasta ahí no resulta nada fácil. Las empresas de mayor éxito son las que e mantienen fieles a un vinculo a lo largo de los años y crean una empresa de la cual usuarios y clientes se sienten orgullosos.</p>
	 					</li>

	 					<li class="list-group-item">
	 						<h2>Visión</h2>
	 						<p class="text-left">Ser una platarforma lider en la ayuda de comercialización y distribución de prendas para vestir que pueden legar a cualquier usuario y lugar que haya reservado o comprado en las tiendas de nuestra plataforma para que puedan obtener diferentes modas en un solo lugar.</p>
	 					</li>

	 					<li class="list-group-item">
	 						<h2>Objetivos</h2>
	 						<p class="text-left">Convertirnos en una de las plataformas líderes en el mercado de ropa online.</p>
	 						<p class="text-left">Superar a la competencia en visibilidad dentro del mercado online del ramo nacional e internacional.</p>
	 						<p class="text-left">Imponer una tendencia de consumo novedosa, rentable y respetuosa del medio ambiente.</p>
	 						<p class="text-left">Establecerse en el mercado internacional y abrir sucursales en las principales ciudades del mundo.</p>
	 						<p class="text-left">Ofrecer alternativas de consumo en medio del abrumador mercado de la ropa.</p>
	 					</li>
	 				</ul>

 				</article>

 			</div>

		</section>
{% endblock content %}