{% extends "base/base.html" %}

{% block content %}
    <br>
    <div class="container">
        {% if object_list %}
            <h1 class="text-center">Lista De Ventas</h1>
            <h4 class="text-center">¡Felicitaciones!</h4>
            <h2 class="text-center">Sigue asi</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id Venta Producto</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total</th>
                        <th scope="col">Cliente</th>
                    </tr>
                </thead>
            {% for venta in object_list %}
                <tbody>
                    <tr class="table-light">
                        <td>{{ venta.id_venta }}</td>
                        <td>{{ venta.codigo }}</td>
                        <td>{{ venta.fecha }}</td>
                        <td>{{ venta.total }}</td>
                        <td>{{ venta.cliente }}</td>
                        <td>
                            <a href="{% url 'productos:venta_crear' %}" class="btn btn-info">Nueva</a>
                            <a href="{% url 'productos:venta_editar' venta.id_venta %}" class="btn btn-success">Editar</a>
                            <a href="{% url 'productos:venta_eliminar' venta.id_venta %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        {% else %}
        <div class="container">
            <h3>No Hay Ventas Registradas</h3>
        </div>
        <br>
        {% endif %}
    </div>



{% endblock content %}