{% extends "base/base.html" %}
{% block content %}
{% load static %}
	{% include "base/head_css.html" %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-10 ftco-animate">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<h3 class="mb-4 billing-heading">Detalles De La Compra</h3>
						<div class="row align-items-end">
							<div class="col-md-6">
								<div class="form-group">
									<label>Nombres</label>
									{{ form.firstname_cliente }}
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>Apellidos</label>
									{{form.lastname_cliente}}
								</div>
							</div>

							<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Pais</label>
									{{form.pais_cliente}}
								</div>
							</div>


							<div class="col-md-6">
								<div class="form-group">
									<label>Ciudad</label>
									{{form.ciudad_cliente}}
								</div>
							</div>

							<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Direccion</label>
									{{form.direccion_cliente}}
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>Correo Electronico</label>
									{{form.correo_cliente}}
								</div>
							</div>

							<div class="w-100"></div>
							<div class="col-md-12">
								<div class="form-group">
									<label>Celular</label>
									{{form.telefono_cliente}}
								</div>
							</div>

						</div>
						<button type="submit">Enviar</button>
					</form><!-- END -->
				</div>
			</div>
		</div>
    </section>

  {% include "base/javascript.html" %}
{% endblock content %}