{% extends "base/base.html" %}
{% block content %}
{% load static %}

		{% include "base/head_css.html" %}

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about3.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Entre Mas Productos, Mas Clientes</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
						  <p>Cuando subes un articulo de tu tienda, es publicado y todas las personas que estan visitando la plataforma lo pueden ver , que pasaria si tu publico recibe publicaciones diarias y actualizadas se sentiran que tu como vendedor te preocupas por subir tus productos, por consiguiente las personas se sentiran atraidas por tu gran cantidad de mercancia lo cual atraera mas clientes que querran comprar tus productos.</p>
                        </div>
					</div>
				</div>
			</div>
		</section>

		<br>

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about4.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Comunicate Con Tus Clientes</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Al comunicarte con tus clientes generas confiansa ,esto ayudara a que las personas entiendan que tu eres una persona agradable en la cual se puede confiar y por ello se sentiran mas seguros a la hora de comprar tus productos.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

        <br>

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about5.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Productos Claros Y Sencillos</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Cuando subes un producto es muy importante que tengas en cuenta todos los aspectos ya sea la ilumacion a la hora de tomar la fotografia ,o la descripcion de la imagen, todo influye a que tu perfil y tus productos sean claros y se puedan dar a entender de una manera concisa para que no haya espacio para ambiguedades y tu perfil sea mas agradable y entedible para las personas.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include "base/javascript.html" %}
{% endblock content %}