{% extends "base/base.html" %}
{% block content %}
{% load static %}

		{% include "base/head_css.html" %}

		<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about.jpg' %});">
						<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como elegir un producto</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
						  <p>Para elegir un producto debes seleccionar el elemento deseado y dar un click sobre el ,te redireccionara a una pestaña con todos los elementos ya sea para comprar o reservar.</p>
                        </div>
					</div>
				</div>
			</div>
		</section>

		<br>


		<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about2.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como Comprar un Producto</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
						  <p>.Para elegir un producto debes seleccionar el elemento deseado y dar un click sobre el ,te redireccionara a una pestaña con todos los Para comprar un producto debes seleccionar un elemento y en el apartado de compra dar un cilck y se añadira al carrito de compras,luego de elegir los productos a comprar seleccionar el metodo de pago.</p>
                        </div>
					</div>
				</div>
			</div>
		</section>

		<br>

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about3.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como Reservar Un Producto</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Para separar un producto debes seleccionar el elemento deseado y en el apartado de reserva dar click sobre el y te rediccionara al apartado de reservas, en el cual podras indicar la fecha de reserva y la fecha en la cual lo vas recoger.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

        <br>

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about3.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como Comunicarse Con El Vendedor</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Para comunicarte con el vendedor debes seleccionar el apartado de visitar tienda en el cual podras ver el perfil del vendedor ,si ya estas alli puedes dejarle un mensaje ,o puedes llamarlo a su telefono.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

        <br>

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about3.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como cancelar una compra</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Para cancelar una compra debes seleccionar el carrito de compras y dar click en eleminar producto.</p>
						</div>
					</div>
				</div>
			</div>
		</section>


        <br>
        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about3.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como Saber La Ubicación De La Tienda</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Para separar un producto debes seleccionar el elemento deseado y en el apartado de reserva dar click sobre el y te rediccionara al apartado de reservas, en el cual podras indicar la fecha de reserva y la fecha en la cual lo vas recoger.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include "base/javascript.html" %}
{% endblock content %}