{% extends "base/base.html" %}
{% block content %}
{% load static %}

		{% include "base/head_css.html" %}

		<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about21.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como Registrarse En La Plataforma</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
						  <p>Para registrarse en la plataforma debes seleccionar el campo de registrase que se encuentra en la parte superior de la pantalla.</p>
                        </div>
					</div>
				</div>
			</div>
		</section>

		<br>


		<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about11.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como Crear Un Perfil</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
						  <p>Para crear un perfil debes llenar todos los campos de registro y ademas de esto añadir fotografias de tus productos y de tu tienda.</p>
                        </div>
					</div>
				</div>
			</div>
		</section>

		<br>

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about12.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como Subir Un Producto</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Para subir un producto debes seleccionar el elemento llamado subir producto y dar un click sobre el elemento examinar mi equipo, y seleccionar la fotografia del producto previamente subido.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

        <br>

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about13.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Como Darle Una Descripcion Al Producto</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Para darle una descripcion al producto debes llenar el campo descripcion con en el enunciado deseado.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

        <br>

        <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about14.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Comunicate Con Tus Clientes</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Siempre es importante que te comuniques con tus clientes para mantenerlos al pendiente de todo lo que has subido o si ellos necesitan hacer un cambio o recoger una reserva,es importante que siempre estes ahi para demostrar que te interesan y quieres que compren tus productos.</p>
						</div>
					</div>
				</div>
			</div>
		</section>


        <br>
        <section class="ftco-sectio	n ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'img/about15.jpeg' %});">
					</div>
					<div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
				  		<div class="heading-section-bold mb-4 mt-md-5">
							<div class="ml-md-0">
								<h2 class="mb-4">Sube Mas,Gana Mas</h2>
							</div>
						</div>
						<div class="pb-md-5 pb-4">
							<p>Entre mas productos subas mas crecera tu negocio ya que demuestras que estas interasado en lo que haces y que te proucupas por mantener a tus clientes actualizados con lo ultimo de tus productos.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include "base/javascript.html" %}
{% endblock content %}